@model Video_Gallery.Areas.Admin.Models.ViewModel.CreateUserViewModel                                                         

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "CreateUser";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}




<div class="content-wrapper ">
    <div class="register-box">
        <div class="register-logo">
            <a href="../../index2.html">Admi LTE</a>
        </div>

        <div class="card">
            <div class="offset2">
                <div class="card-body register-card-body">
                    <p class="login-box-msg">Register a new membership</p>
                    <p class="text-success text-center">@ViewBag.message </p>
                    <div asp-validation-summary="All"></div>
                    <form action="CreateUser" method="post">
                        <div class="form-group ">
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" placeholder="First Name" asp-for="FirstName">
                                <div class="input-group-append">
                                    <div class="input-group-text">
                                        <span class="fas fa-user"></span>
                                    </div>
                                </div>
                            </div>
                            <span asp-validation-for="FirstName" class="text-danger"></span>

                        </div>
                        <div class="form-group ">
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" placeholder="Last Name" asp-for="LastName">
                                <div class="input-group-append">
                                    <div class="input-group-text">
                                        <span class="fas fa-user"></span>
                                    </div>
                                </div>

                            </div>
                            <span asp-validation-for="LastName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <div class="input-group mb-3">
                                <input type="email" class="form-control" placeholder="Email" asp-for="Email">
                                <div class="input-group-append">
                                    <div class="input-group-text">
                                        <span class="fas fa-envelope"></span>
                                    </div>
                                </div>
                            </div>
                            <span asp-validation-for="Email" class="text-danger"></span>

                        </div>
                        <div class="form-group">
                            <div class="input-group mb-3">
                                <input type="password" class="form-control" placeholder="Password" asp-for="Password">
                                <div class="input-group-append">
                                    <div class="input-group-text">
                                        <span class="fas fa-lock"></span>
                                    </div>
                                </div>

                            </div>
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <div class="input-group mb-3">
                                <input type="password" class="form-control" placeholder="Confirm password" asp-for="ConfirmPassword">
                                <div class="input-group-append">
                                    <div class="input-group-text">
                                        <span class="fas fa-lock"></span>
                                    </div>
                                </div>

                            </div>
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <div class="input-group mb-3">
                                <input type="number" class="form-control" placeholder="Phone No" asp-for="PhoneNumber">
                                <div class="input-group-append">
                                    <div class="input-group-text">
                                        <span class="fas fa-phone"></span>
                                    </div>
                                </div>


                            </div>
                            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                        </div>
                        <div class="input-group mb-3">
                            <select class="form-control " asp-for="Gender">
                                <option value="Male">Male</option>
                                <option value="Female">Female</option>
                                <option value="Other">Other</option>
                            </select>
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <span class="fas fa-genderless"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-8">
                                <div class="icheck-primary">
                                    <input type="checkbox" id="agreeTerms" name="terms" value="agree">
                                    <label for="agreeTerms">
                                        I agree to the terms
                                    </label>
                                </div>
                            </div>
                            <!-- /.col -->
                            <div class="col-4">
                                <button type="submit" class="btn btn-primary btn-block">Register</button>
                            </div>
                            <!-- /.col -->
                        </div>
                    </form>

                </div>
            </div>
            <!-- /.form-box -->
        </div><!-- /.card -->
    </div>
</div>
<!-- /.register-box -->
